@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Change Password</h1>
<form id="changePassword">
    <label for="emailInput">Email:</label>
    <input type="email" id="emailInput" name="email" required>
    <br><br>
    <label for="otpInput">Otp:</label>
    <input type="text" id="otpInput" name="password" required>
    <br><br>
    <label for="passwordInput">New Password:</label>
    <input type="text" id="passwordInput" name="password" required>
    <br><br>
    <label for="passwordInput">Confirm Password:</label>
    <input type="text" id="confirmPsswdInput" name="password" required>
    <br><br>
    <button type="button" id="btnChangePassword" class="btn btn-primary">Login</button>
</form>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Account.js" asp-append-version="true"></script>
}