@{
    ViewData["Title"] = "Home Client";
    Layout = "/Views/Shared/Client/_LayoutClient.cshtml";

    var role = Context.Session.GetString("Role");
    var token = Context.Session.GetString("JWToken");
}

<style>
    .read-more,
    .read-less {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
    }

        .read-more:hover,
        .read-less:hover {
            color: darkblue;
        }
</style>

<main class="main">
    <section class="home-slider position-relative mb-30">
        <div class="container">
            <div class="home-slide-cover mt-30">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider single-animation-wrap" style="background-image: url(../../TClient/assets/imgs/slider/slider-9.png)">
                        <div class="slider-content">
                            @* <h1 class="display-2 mb-40">
                            Don’t miss amazing<br />
                            grocery deals
                            </h1>
                            <p class="mb-65">Sign up for the daily newsletter</p>
                            <form class="form-subcriber d-flex">
                            <input type="email" placeholder="Your emaill address" />
                            <button class="btn" type="submit">Subscribe</button>
                            </form> *@
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap" style="background-image: url(../../TClient/assets/imgs/slider/slider-10.png)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                <br />

                            </h1>
                            @* <p class="mb-65">Save up to 50% off on your first order</p> *@
                            @*  <form class="form-subcriber d-flex">
                            <input type="email" placeholder="Your emaill address" />
                            <button class="btn" type="submit">Subscribe</button>
                            </form> *@
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </div>
    </section>
</main>

<section class="product-tabs section-padding position-relative">
    <div class="container">
        <div class="section-title style-2 wow animate__animated animate__fadeIn">
            <div class="search-style-5">
                <input type="text" id="search-input" placeholder="Search for Idle..." />
            </div>
            <h3>List Idle</h3>
            <ul class="nav nav-tabs links" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">All</button>
                </li>
            </ul>
        </div>
        <!--End nav-tabs-->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                <div id="employeeGrid" class="row product-grid-4">
                    <!-- Data karyawan akan dimasukkan di sini oleh JavaScript -->
                </div>
                <!--End product-grid-4-->
            </div>
        </div>
        <!--End tab-content-->
    </div>
</section>

<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button> *@

<!-- Modal -->
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detail Employee</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="employeeModal" class="modal-body modalBodyDetail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                @if (token != null && role == "client")
                {
                    <button type="button" class="btn btn-outline-primary btn-hire" data-bs-dismiss="modal">Hire</button>
                }
                else if (token == null && role != "client")
                {
                    <button type="button" class="btn btn-outline-primary" onclick="redirectToLogin()">Hire</button>
                }
            </div>
        </div>
    </div>
</div>

@if (token != null && role == "client")
{
    <div class="modal fade" id="modalInterview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Schedule Interview</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formAddSchedule">
                        <div class="form-group">
                            <label>Name of Interview</label>
                            <input type="text" id="nameInput" />
                        </div>
                        <div class="form-group">
                            <label>Date Interview</label>
                            <input type="datetime-local" id="dateInput" />
                        </div>
                        <div class="form-group">

                            <button type="submit" class="btn btn-outline-success btn-submit btn-save" data-guid="GUID_EMPLOYEE">Submit</button>



                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Products Tabs-->
}

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="~/js/HomeClient.js" asp-append-version="true"></script>

    <script>
        function redirectToLogin() {
            Swal.fire({
                title: 'Login Required',
                text: 'You must be logged in as a client to hire.',
                icon: 'warning',
                showCloseButton: false,
                focusConfirm: false,
                customClass: {
                    confirmButton: 'btn btn-primary'
                },
                buttonsStyling: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Account/Logins'; // Ganti dengan URL halaman login Anda
                }
            });
        }
    </script>

}
