@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index Employee";
    Layout = "/Views/Shared/Admin/_Layout.cshtml";
}

<!-- Complex Headers -->
<div class="card">
    <h5 class="card-header">Data Client</h5>
    <br />
    <div class="card-datatable text-nowrap table-responsive">
        <table id="tableClient" class="dt-complex-header table table-bordered dt-responsive table datatables-basic table">
            <thead>
                <tr>
                    <th>No</th>
                    <th class="no-export">Foto</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Status Account</th>
                    <th>Phone Number</th>
                    <th>Name Company</th>
                    <th>Address</th>
                    <th class="no-export">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="modalUpdateClient" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Edit Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateClientForm" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" id="editFirstName" class="form-control" placeholder="Enter First Name" required />
                        </div>
                        <div class="col mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" id="editLastName" class="form-control" placeholder="Enter Last Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="editGender">Gender</label>

                            <select id="editGender" class="form-control">
                                <option value="">Select Option</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="editEmail" class="form-label">Email</label>
                            <input type="email" id="editEmail" class="form-control" placeholder="Enter Email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="editPhoneNumber">Phone Number</label>
                            <input type="text" id="editPhoneNumber" class="form-control" placeholder="Enter Phone Number" required />
                        </div>
                        <div class="col mb-3">
                            <label for="profilePictureInput" class="form-label">Profile Picture</label>
                            <input type="file" id="profilePictureInput" class="form-control" />
                            <span id="profilePicFileName"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="companyName">Name Company</label>
                            <input type="text" id="companyName" class="form-control" placeholder="Enter Status Employee" />
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="addressCompany">Address Company</label>
                            <input type="text" id="addressCompany" class="form-control" placeholder="Enter Company Guid" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="form-label" for="description">Description</label>
                        <input type="text" id="description" class="form-control" placeholder="Enter Company Guid" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="editEmployeeButton" class="btn btn-primary btn-save">Save</button>
                        <div class="spinner-border text-dark" role="status" style="display: none;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--/ Complex Headers -->
@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Buttons JavaScript -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

    <!-- Your DataTable Initialization Script -->
    <script src="~/js/Employee.js" asp-append-version="true"></script>

}
