
@{
    ViewData["Title"] = "Index Employee";
    Layout = "/Views/Shared/Admin/_Layout.cshtml";
}

<!-- Complex Headers -->
<div class="card">
    <h5 class="card-header">Data Employee</h5>
    <div class="dt-action-buttons text-end pt-3 pt-md-0">
        <div class="datatable-buttons">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
                Create
            </button>
            <button id="custom-copy-button" class="btn btn-secondary">Copy</button>
            <button id="custom-excel-button" class="btn btn-secondary">Excel</button>
            <button id="custom-pdf-button" class="btn btn-secondary">PDF</button> <!-- Sudah diperbaiki -->
            <button id="custom-print-button" class="btn btn-secondary">Print</button>
            <button id="custom-visibility" class="btn btn-secondary">Visibility</button>
        </div>
    </div>
    <div class="card-datatable text-nowrap table-responsive">
        <table id="tableEmployee" class="dt-complex-header table table-bordered dt-responsive table datatables-basic table">
            <thead>
                <tr>
                    <th rowspan="2">No</th>
                    <th colspan="2" style="text-align: center;">Biodata</th>
                    <th colspan="4" style="text-align: center;">Info</th>
                    <th class="no-export" rowspan="2" style="text-align: center;">Action</th>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Skill</th>
                    <th>statusEmployee</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--/ Complex Headers -->

<!-- Modal Create -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Create Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createEmployeeForm" class="needs-validation" novalidate>
                    <div class="row">
                        <!-- Inputan untuk data pribadi employee -->
                        <div class="col mb-3">
                            <label for="firstNameInput" class="form-label">First Name</label>
                            <input type="text" id="firstNameInput" class="form-control" placeholder="Enter First Name" required />
                        </div>
                        <div class="col mb-3">
                            <label for="lastNameInput" class="form-label">Last Name</label>
                            <input type="text" id="lastNameInput" class="form-control" placeholder="Enter Last Name">
                        </div>
                        <div class="col mb-3">
                            <label for="genderInput" class="form-label">Gender</label>
                            <select id="genderInput" class="form-select">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="profilePictureInput" class="form-label">Profile Picture</label>
                            <input type="file" id="profilePictureInput" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="cvInput" class="form-label">CV File</label>
                            <input type="file" id="cvInput" class="form-control" />
                        </div>
                        <div class="col mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input type="email" id="emailInput" class="form-control" placeholder="xxxx@xxx.xx" required />
                        </div>
                        <div class="col mb-3">
                            <label for="phoneNumberInput" class="form-label">Phone Number</label>
                            <input type="text" id="phoneNumberInput" class="form-control" placeholder="081.xxx.xxx.xx" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="hireMetroInput" class="form-label">Hire Metro</label>
                            <input type="datetime-local" id="hireMetroInput" class="form-control" required />
                        </div>
                        <div class="col mb-3">
                            <label for="endMetroInput" class="form-label">End Metro</label>
                            <input type="datetime-local" id="endMetroInput" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="gradeInput" class="form-label">Grade</label>
                            <select id="gradeInput" class="form-select">
                                <option value="0">A</option>
                                <option value="1">B</option>
                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="statusEmployeeInput" class="form-label">Status Employee</label>
                            <select id="statusEmployeeInput" class="form-select">
                                <option value="0">Idle</option>
                                <option value="2">On Site</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input type="password" id="passwordInput" class="form-control" required />
                        </div>
                        <div class="col mb-3">
                            <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                            <input type="password" id="confirmPasswordInput" class="form-control" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="skillsInput" class="form-label">Skills</label>
                            <input type="text" id="skillsInput" class="form-control" placeholder="Skill 1, Skill 2, Skill 3" />
                        </div>
                    </div>

                    <!-- Inputan untuk pengalaman -->
                    <div class="experience-container">
                        <h5>Experiences</h5>
                        <div class="experience-row">
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="experienceNameInput" class="form-label">Experience Name</label>
                                    <input type="text" class="form-control name-input" placeholder="Enter Experience Name" />
                                </div>
                                <div class="col mb-3">
                                    <label for="experiencePositionInput" class="form-label">Position</label>
                                    <input type="text" class="form-control position-input" placeholder="Enter Position" />
                                </div>
                                <div class="col mb-3">
                                    <label for="experienceCompanyInput" class="form-label">Company</label>
                                    <input type="text" class="form-control company-input" placeholder="Enter Company" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tombol untuk menambahkan pengalaman -->
                    <button type="button" class="btn btn-primary add-experience-button">Add Experience</button>
                    <!-- Tombol untuk menambahkan lebih banyak pengalaman -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="createEmployeeButton" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="modalEditEmployee" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Edit Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editEmployeeForm" class="needs-validation" novalidate>
                    <input type="hidden" id="editEmployeeId" required>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="editFirstName" class="form-label">First Name</label>
                            <input type="text" id="editFirstName" class="form-control" placeholder="Enter First Name" required />
                        </div>
                        <div class="col mb-3">
                            <label for="editLastName" class="form-label">Last Name</label>
                            <input type="text" id="editLastName" class="form-control" placeholder="Enter Last Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="editGender">Gender</label>
                            <select id="editGender" class="form-select">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="editEmail" class="form-label">Email</label>
                            <input type="email" id="editEmail" class="form-control" placeholder="Enter Email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="editPhoneNumber">Phone Number</label>
                            <input type="text" id="editPhoneNumber" class="form-control" placeholder="Enter Phone Number" required />
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="editGrade">Grade</label>
                            <input type="text" id="editGrade" class="form-control" placeholder="Enter Grade" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="editStatusEmployee">Status Employee</label>
                            <input type="text" id="editStatusEmployee" class="form-control" placeholder="Enter Status Employee" />
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="editCompanyGuid">Company Guid</label>
                            <input type="text" id="editCompanyGuid" class="form-control" placeholder="Enter Company Guid" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="editEmployeeButton" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Buttons JavaScript -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>


    <!-- Your DataTable Initialization Script -->
    <script src="~/js/Employee.js" asp-append-version="true"></script>

}


