@{
    var fullName = Context.Session.GetString("FullName");
    var role = Context.Session.GetString("Role");
    var employeeGuid = Context.Session.GetString("EmployeeGuid");

    var token = Context.Session.GetString("JWToken");
    var isAuthenticated = token != null;
}

@{
    Layout = "/Views/Shared/Client/_StyleLayout.cshtml";
}

<!DOCTYPE HTML>
<html class="no-js" lang="en">

<body>
    @section header {
        <header class="header-area header-style-1 header-height-2">
            <div class="mobile-promotion">
                <span>Grand opening, <strong>Code Link</strong><strong> Metrodata </strong></span>
            </div>
            <div class="header-top header-top-ptb-1 d-none d-lg-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-4">
                            <div class="header-info">
                                <ul>
                                    <li><a href="/">About Us</a></li>
                                    <li><a href="/HomeClient/MyAccount">My Account</a></li>
                                    <li><a href="/HomeClient/ListHireIdle">Wishlist</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4">
                            <div class="text-center">
                                <div id="news-flash" class="d-inline-block">
                                    <ul>
                                        <li>100% Secure delivery without contacting the courier</li>
                                        <li>Supper Value Deals - Save more with coupons</li>
                                        <li>Trendy 25silver jewelry, save up 35% off today</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <div class="header-info header-info-right">
                                <ul>
                                    <li>Need help? Call Us: <strong class="text-brand"> + 1800 900</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
                <div class="container">
                    <div class="header-wrap">
                        <div class="logo logo-width-1">
                            <a href="index.html"><img src="../../TClient/assets/imgs/theme/logo.svg" alt="logo" /></a>
                        </div>
                        <div class="header-right">
                            <div class="search-style-1">
                                <form action="#">
                                    <input type="text" placeholder="Search for items..." />
                                </form>
                            </div>
                            <div class="header-action-right">
                                <div class="header-action-2">
                                    @if (isAuthenticated)
                                    {
                                        @if (role == "client")
                                        {
                                            <div class="header-action-icon-2">
                                                <a href="/Interview/ListHireIdle">
                                                    <img class="svgInject" alt="Nest" src="../../TClient/assets/imgs/theme/icons/icon-heart.svg" />
                                                    <span class="pro-count blue">6</span>
                                                </a>
                                                <a href="/Interview/ListHireIdle"><span class="lable">Wishlist</span></a>
                                            </div>
                                        }
                                    }
                                    <div class="header-action-icon-2">
                                        <a href="">
                                            <img class="svgInject" alt="Nest" src="../../TClient/assets/imgs/theme/icons/icon-user.svg" />
                                        </a>
                                        <span class="lable ml-0">@fullName</span>
                                        <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                            <ul>
                                                <li>
                                                    <a href="/HomeClient/MyAccount"><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                                </li>
                                                @if (isAuthenticated)
                                                {
                                                    @if (role == "client")
                                                    {
                                                        <li>
                                                            <a href="/Interview/ListHireIdle"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
                                                        </li>
                                                    }
                                                }
                                                <li>
                                                    <a href=""><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                                                </li>
                                                @if (isAuthenticated)
                                                {
                                                    <li>
                                                        <a href="/Logout"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="/Account/Logins"><i class="fi fi-rs-sign-in mr-10"></i>Sign in</a>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-bottom-bg-color sticky-bar">
                <div class="container">
                    <div class="header-wrap header-space-between position-relative">
                        <div class="logo logo-width-1 d-block d-lg-none">
                            <a href="index.html"><img src="../../TClient/assets/imgs/theme/logo.svg" alt="logo" /></a>
                        </div>
                        <div class="header-nav d-none d-lg-flex">
                            <div class="main-categori-wrap d-none d-lg-block">
                                <a class="categories-button-active" href="#">
                                    <span class="fi-rs-apps"></span> <span class="et">Browse</span> All Categories
                                    <i class="fi-rs-angle-down"></i>
                                </a>
                            </div>
                            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                                <nav>
                                    <ul>
                                        <li class="hot-deals"><img src="../../TClient/assets/imgs/theme/icons/icon-hot.svg" alt="hot deals" /><a href="/">Deals</a></li>
                                        <li>
                                            <a href="/HomeClient/HomeClient">Home</a>
                                            @* <ul class="sub-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        </ul> *@
                                        </li>
                                        <li>
                                            <a href="">About</a>
                                        </li>
                                        <li>
                                            <a href="">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="hotline d-none d-lg-flex">
                            <img src="../../TClient/assets/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                            <p>1900 - 888<span>24/7 Support Center</span></p>
                        </div>
                        <div class="header-action-icon-2 d-block d-lg-none">
                            <div class="burger-icon burger-icon-white">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-top">
                    <div class="mobile-header-logo">
                        <a href="index.html"><img src="../../TClient/assets/imgs/theme/logo.svg" alt="logo" /></a>
                    </div>
                    <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                        <button class="close-style search-close">
                            <i class="icon-top"></i>
                            <i class="icon-bottom"></i>
                        </button>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="mobile-search search-style-3 mobile-header-border">
                        <form action="#">
                            <input type="text" placeholder="Search for items…" />
                            <button type="submit"><i class="fi-rs-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- mobile menu start -->
                        <nav>
                            <ul class="mobile-menu font-heading">
                                <li class="menu-item-has-children">
                                    <a href="index.html">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home 1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-header-info-wrap">
                        <div class="single-mobile-header-info">
                            <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                        </div>
                    </div>
                    <div class="mobile-social-icon mb-50">
                        <h6 class="mb-15">Follow Us</h6>
                        <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                        <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                        <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                        <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                        <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!--End header-->
    }

    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(../../TClient/assets/imgs/slider/slider-1.png)">
                            <div class="slider-content">
                                <h1 class="display-2 mb-40">
                                    Don’t miss amazing<br />
                                    grocery deals
                                </h1>
                                <p class="mb-65">Sign up for the daily newsletter</p>
                                <form class="form-subcriber d-flex">
                                    <input type="email" placeholder="Your emaill address" />
                                    <button class="btn" type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(../../TClient/assets/imgs/slider/slider-2.png)">
                            <div class="slider-content">
                                <h1 class="display-2 mb-40">
                                    Fresh Vegetables<br />
                                    Big discount
                                </h1>
                                <p class="mb-65">Save up to 50% off on your first order</p>
                                <form class="form-subcriber d-flex">
                                    <input type="email" placeholder="Your emaill address" />
                                    <button class="btn" type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
    </main>
    @RenderBody();

    @section footer {
        <footer class="main">
            <section class="newsletter mb-15 wow animate__animated animate__fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="position-relative newsletter-inner">
                                <div class="newsletter-content">
                                    <h2 class="mb-20">
                                        Stay home & get your daily <br />
                                        needs from our shop
                                    </h2>
                                    <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="Your emaill address" />
                                        <button class="btn" type="submit">Subscribe</button>
                                    </form>
                                </div>
                                <img src="../../TClient/assets/imgs/banner/banner-9.png" alt="newsletter" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="featured section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                            <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay="0">
                                <div class="banner-icon">
                                    <img src="../../TClient/assets/imgs/theme/icons/icon-1.svg" alt="" />
                                </div>
                                <div class="banner-text">
                                    <h3 class="icon-box-title">Best prices & offers</h3>
                                    <p>Orders $50 or more</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                                <div class="banner-icon">
                                    <img src="../../TClient/assets/imgs/theme/icons/icon-2.svg" alt="" />
                                </div>
                                <div class="banner-text">
                                    <h3 class="icon-box-title">Free delivery</h3>
                                    <p>24/7 amazing services</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                                <div class="banner-icon">
                                    <img src="../../TClient/assets/imgs/theme/icons/icon-3.svg" alt="" />
                                </div>
                                <div class="banner-text">
                                    <h3 class="icon-box-title">Great daily deal</h3>
                                    <p>When you sign up</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                                <div class="banner-icon">
                                    <img src="../../TClient/assets/imgs/theme/icons/icon-4.svg" alt="" />
                                </div>
                                <div class="banner-text">
                                    <h3 class="icon-box-title">Wide assortment</h3>
                                    <p>Mega Discounts</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                                <div class="banner-icon">
                                    <img src="../../TClient/assets/imgs/theme/icons/icon-5.svg" alt="" />
                                </div>
                                <div class="banner-text">
                                    <h3 class="icon-box-title">Easy returns</h3>
                                    <p>Within 30 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-none">
                            <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                                <div class="banner-icon">
                                    <img src="../../TClient/assets/imgs/theme/icons/icon-6.svg" alt="" />
                                </div>
                                <div class="banner-text">
                                    <h3 class="icon-box-title">Safe delivery</h3>
                                    <p>Within 30 days</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding footer-mid">
                <div class="container pt-15 pb-20">
                    <div class="row">
                        <div class="col">
                            <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                                <div class="logo mb-30">
                                    <a href="index.html" class="mb-15"><img src="../../TClient/assets/imgs/theme/logo.svg" alt="logo" /></a>
                                    <p class="font-lg text-heading">Awesome grocery store website template</p>
                                </div>
                                <ul class="contact-infor">
                                    <li><img src="../../TClient/assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>Address: </strong> <span>5171 W Campbell Ave undefined Kent, Utah 53127 United States</span></li>
                                    <li><img src="../../TClient/assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Call Us:</strong><span>(+91) - 540-025-124553</span></li>
                                    <li><img src="../../TClient/assets/imgs/theme/icons/icon-email-2.svg" alt="" /><strong>Email:</strong><span><a href="https://wp.alithemes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1a697b767f5a547f696e34797577">[email&#160;protected]</a></span></li>
                                    <li><img src="../../TClient/assets/imgs/theme/icons/icon-clock.svg" alt="" /><strong>Hours:</strong><span>10:00 - 18:00, Mon - Sat</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".1s>
                            <h4 class=" widget-title">Company</h4>
                            <ul class="footer-list mb-sm-5 mb-md-0">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Support Center</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                    </div>
            </section>
            <div class="container pb-30 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                <div class="row align-items-center">
                    <div class="col-12 mb-30">
                        <div class="footer-bottom"></div>
                    </div>
                    <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
                        <div class="hotline d-lg-inline-flex mr-30">
                            <img src="../../TClient/assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
                            <p>1900 - 6666<span>Working 8:00 - 22:00</span></p>
                        </div>
                        <div class="hotline d-lg-inline-flex">
                            <img src="../../TClient/assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
                            <p>1900 - 8888<span>24/7 Support Center</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                        <div class="mobile-social-icon">
                            <h6>Follow Us</h6>
                            <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                            <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                            <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                            <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                            <a href="#"><img src="../../TClient/assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <img src="../../TClient/assets/imgs/theme/Bean-Eater.gif" style="width:150px; height:150px;" alt="" />
                    </div>
                </div>
            </div>
        </div>
    }


</body>

</html>

@await RenderSectionAsync("Scripts", required: false)

@section ScriptsStyle{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const token = '@token';
        sessionStorage.setItem('jwt', token);
        var isAuthenticated = token !== null;

        var employeeGuid = '@employeeGuid';
        sessionStorage.setItem('employeeGuid', employeeGuid);

        var getRole = '@role';
        sessionStorage.setItem('role', getRole);

    </script>
}