@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index Employee";
    Layout = "/Views/Shared/Admin/_Layout.cshtml";
}

<!-- Complex Headers -->
<div class="card">
    <h5 class="card-header">Data Employee</h5>
    <div class="dt-action-buttons text-end pt-3 pt-md-0">
        <div class="datatable-buttons">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
                Create
            </button>
            <button id="custom-copy-button" class="btn btn-secondary">Copy</button>
            <button id="custom-excel-button" class="btn btn-secondary">Excel</button>
            <button id="custom-pdf-button" class="btn btn-secondary">PDF</button> <!-- Sudah diperbaiki -->
            <button id="custom-print-button" class="btn btn-secondary">Print</button>
            <button id="custom-visibility" class="btn btn-secondary">Visibility</button>
        </div>
    </div>
    <div class="card-datatable text-nowrap table-responsive">
        <table id="tableInterview" class="dt-complex-header table table-bordered dt-responsive table datatables-basic table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Idle Name </th>
                    <th>Interviewer</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="updateInterview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Add Schedule Interview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="scheduleUpdateForm" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="updateType">Type</label>
                            <select id="updateType" class="form-control">
                                <option value="">Select Option</option>
                                <option value="0">Online</option>
                                <option value="1">Offline</option>
                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" id="location" class="form-control" name="location"  placeholder="Enter location" />
                        </div>
                    </div>
                    <div class="row">
                        <label for="remarks" class="form-label">remarks</label>
                        <input type="text" id="remarks" class="form-control" name="remarks" placeholder="Enter remarks" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="updateInterviewButton" class="btn btn-primary btn-save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--/ Complex Headers -->
@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Buttons JavaScript -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

    <!-- Your DataTable Initialization Script -->
    <script src="~/js/Interview.js" asp-append-version="true"></script>

}
