@{
    ViewData["Title"] = "List Hire Idle";
    Layout = "/Views/Shared/Client/_LayoutClient.cshtml";
}

<!-- CSHTML -->
<div id="employeeGuid" data-guid="@Context.Session.GetString("EmployeeGuid")"></div>

<div class="container mb-30 mt-50">
    <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
            <div class="mb-50">
                <h1 class="heading-2 mb-10">Your Hire Idle</h1>
            </div>
            <div class="table-responsive shopping-summery">
                <table id="tableListHire" class="table table-wishlist">
                    <thead>
                        <tr style="text-align:center;" class="main-heading">
                            <th scope="col" colspan="2">Identitas</th>
                            <th scope="col" colspan="1">Date</th>
                            <th style="padding: 8px; text-align: center;" scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- Diisi oleh JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="lolosInterview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Detail Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="lolosForm" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="startContractInp" class="form-label">Start Contract</label>
                            <input type="datetime-local" id="startContractInp" class="form-control"  />
                        </div>
                    </div>
                    <div class="row">
                        <label for="endContractInp" class="form-label">End Contract</label>
                        <input type="datetime-local" id="endContractInp" class="form-control"  />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" style="background-color: #d9534f; color: white; padding: 10px 20px; border: none; font-size: 1em; border-radius: 5px; width: 100px;">Close</button>
                        <button type="submit" id="lolos" class="btn btn-primary btn-save" style="background-color: #6baf92; color: white; padding: 10px 20px; border: none; font-size: 1em; border-radius: 5px; width: 100px;">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="tdkLolosInterview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Detail Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="tdkLolosForm" class="needs-validation" novalidate>
                    <div class="row">
                        <label for="endContractInp" class="form-label">Feedback</label>
                        <textarea id="feedback" placeholder="Masukkan feedback Anda di sini..."></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class=" btn-label-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="tdkLolos" class="btn btn-primary btn-save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Buttons JavaScript -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>


    <script src="~/js/ListHire.js" asp-append-version="true"></script>
    
}
